                @font-face {
                    font-family: "Montserrat", sans-serif;
                    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
                }
                
                .navbar {
                    min-height: 80px;
                }
                /*------- Main Content -------*/
                
                .main-header {
                    color: rgb(199, 167, 79);
                    font-size: 50px;
                    line-height: 90px;
                }
                /*------ Breakfast -------*/
                
                .custom-header {
                    font-weight: 700;
                }
                
                .main-links .btn {
                    padding: 5px 15px !important;
                    position: relative;
                }
                
                .main-links .btn::before {
                    content: "";
                    width: 10px;
                    height: 20px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 20px;
                    margin: auto;
                    background-color: #338f08;
                    transform: rotate(45deg);
                    visibility: hidden;
                }
                
                .main-links .btn:focus {
                    color: white;
                    background-color: #338f08;
                    margin: 5px 0;
                }
                
                .btn:focus .btn::before {
                    visibility: visible;
                }
                
                .icons {
                    width: 30px;
                    height: 30px;
                    margin-top: -8px;
                }
                
                .card span {
                    padding: 0 15px;
                    color: white;
                }
                
                #Drink .card {
                    position: relative;
                }
                
                #Drink span {
                    text-align: center!important;
                    position: absolute;
                    right: 1%;
                }
                /*----- contact.html ------*/
                
                .contact img {
                    width: 20px;
                    height: 20px;
                }
                
                form .btn {
                    padding: 5px 40px !important;
                }
                
                .form-control {
                    border-radius: 0 !important;
                }
                
                .form-control:focus {
                    box-shadow: none !important;
                }
                
                .form-group span {
                    color: rgb(241, 2, 2);
                    margin-left: 4px;
                }